.header{
    background-color:black;
    color:white;
    text-align: center;
    padding: 5px;
}
body{
    background-image: url("./image_weather.jpg");
  
    min-height: 380px;
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  /* Needed to position the navbar */
  position: relative;
}
    
    #city{
       width:800px;
       height:320px;
       padding: 10px;
       margin: 10px; 
       margin-top: 30px; 
       color:white;
       
       background-color: transparent;
       
    }

 #container{
    display: flex;
    flex-wrap: wrap;
}  

.navbar{
  
    width: 400px;
    height:300px;
   
    padding: 10px;
    padding-left: 10px;
    margin: 30px;  
    display:flex;
    align-items: flex-start;
    background-color: transparent !important;
}


#containerForecast{
display:flex;
width:1250px;
height:300px;
padding: 10px;
padding-left: 10px;
margin: 30px;
margin-top: 20px;
background-color: transparent;
 }
 .card{
     margin:5px;
     color:white;
   
 }

 p{
     padding-left: 10px;
   }
